       		  /****************************************************************/
            /*							Titres								*/
            /****************************************************************/

h1{
	color: steelblue;
	background-color: whitesmoke;
	font-size:48px;
}
h2{
	color: linen;
	background-color: grey;
}

h3{
	margin-left: 20px;
	color : mediumseagreen;
}

div.welcome{
	text-align: center;
	font-size:64px;
	color: #005858;
	margin-top: 15vh;
}
div.request{
	margin-left: 20%;
	font-size:22px;
	color: #588ebb;
	margin-top: 12vh;
}

            /****************************************************************/
            /*					Barre menu horizontal						*/
            /****************************************************************/
            
ul.barMenu {
	list-style-type: none;
	margin-left: 44%;
	padding: 0;
	overflow: hidden;
	background-color: teal;
	
}
ul.barMenu > li {
	float: left;
}

ul.barMenu > li a {
	display: block;
	color: mintcream;
	text-align: center;
	padding: 15px 50px;
	text-decoration: none;
}

ul.barMenu > li a:hover {
	background-color: turquoise;
	color: #f1f1f1;
}
		            
            /****************************************************************/
            /*						Texte en general						*/
            /****************************************************************/
            
.main {
	margin-left: 220px;
	text-align: justify; 
}
            /****************************************************************/
            /*					HyperLien en general						*/
            /****************************************************************/
a {
	color: teal;
}


/*******************************	Menu pour les comptes		*********************************/


 
            /****************************************************************/
            /*					Barre menu Vertical							*/
            /****************************************************************/
.sideMenu {
	width: 15%;
	background-color: silver;
	top: 40vh;
	left:3vh;	
  	position:absolute;
}


.sideMenu a {

	text-align: center;
	padding: 8% 8% 8% 8%;
	font-size: 20px;
	text-decoration: none;
	color: white;
	display: block;
}

.sideMenu a:hover {
	background-color: teal;
  	color: white;
}





		            
            /****************************************************************/
            /*					Les input formulaires						*/
            /****************************************************************/

input[type=text], input[type=email], input[type=password], input[type=date], input[type=number], select, input[type=file]{
	width: 50%;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-position: 10px 10px; 
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;

}
input:disabled {
  background: #E0E0E0;
}

/*Formulaire*/
#formCompte{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
  top: 40vh;
  position:absolute;

} 

/*Formulaires centrés */
div.formulaireCentre{
	text-align:center;
	margin-top: 3vh; /* hauteur */
}
            /****************************************************************/
            /*					input barre de recherche					*/
            /****************************************************************/
.barMenu input[type=text] {
	width: 24%;
	margin-left: 13%;
	top: 10px;
	position:absolute;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-position: 10px 10px; 
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;

}

            /****************************************************************/
            /*					Boutons de soumission						*/
            /****************************************************************/					            

/*En general*/
input[type=submit] {
	transition-duration: 0.4s;
	background-color: silver;
	color: white;
	border-radius: 4px;
	width: 200px;
	height: 50px;
	text-align: center;
}

input[type=submit]:hover {
	background-color: teal;
	color: white;
}
label{
	display: block;
	width: 150px;
	float: left;
}

            /****************************************************************/
            /*						Compte client							*/
            /****************************************************************/	
/*Bouton Suppression de compte*/
input.suppression  {
	transition-duration: 0.4s;
	background-color: lightcoral;
	color: white;
	border-radius: 4px;
	width: 400px;
	height: 50px;
	position:absolute; 
	right:100vh;
	bottom:-35px; 
}

input.suppression:hover {
	background-color: crimson;
	color: white;
}

/*se deconnecter*/
#boutonSeDeco a{
	position:absolute;   
	right:12vh;
	top:30vh;
	font-weight: bold;
	color: lightcoral;
	text-decoration:none;
	font-size: 20px;
	
	padding: 3 3 3 3;
	border-style: outset;
	border-color: lightcoral;
	
	background: alice blue;
}
#boutonSeDeco a:hover{
	background-color: lightcoral;
	color:white;
}

/*Bouton panier*/
#boutonPanier a{
	position:absolute;   
	right:30vh;
	top:30vh;
	font-weight: bold;
	color: #588ebb;
	text-decoration:none;
	font-size: 20px;
	
	padding: 3 3 3 3;
	border-style: outset;
	border-color: #32a1ce;
	
	background: alice blue;
}

#boutonPanier a:hover{
	background: #32a1ce;
	color:white;
}

/*Bouton modifier */
input.modifier {
	position:absolute;   
	right:30vh;

}

/*Bouton valider et annuler panier*/
.boutonsPanier{
	transition-duration: 0.4s;
	background-color: silver;
	color: white;
	border-radius: 4px;
	width: 200px;
	height: 50px;
	position:absolute; 
	left:5vh;
	top:75vh; 
	color: white;
}
/*Bouton pour generer facture */
#BoutonFacture{
	color:black;
	height:50%;
}

/**/
.prix{
	position:absolute; 
	top:35vh;
	font-size:22px;
	color: #588ebb;
}


           /****************************************************************/
            /*				Boutons de navigations	sur le cote				*/
            /****************************************************************/	
            
.bouton1  {
	transition-duration: 0.4s;
	background-color: silver;
	color: white;
	border-radius: 4px;
	width: 15%;
	height: 50px;
	position:absolute; 
	left:5vh;
	top:40vh; 
}

.bouton2  {
	transition-duration: 0.4s;
	background-color: silver;
	color: white;
	border-radius: 4px;
	width: 15%;
	height: 50px;
	position:absolute; 
	left:5vh;
	top:50vh; 
}
.bouton3  {
	transition-duration: 0.4s;
	background-color: silver;
	color: white;
	border-radius: 4px;
	width: 15%;
	height: 50px;
	position:absolute; 
	left:5vh;
	top:60vh; 
}
.bouton4  {
	transition-duration: 0.4s;
	background-color: silver;
	color: white;
	border-radius: 4px;
	width: 15%;
	height: 50px;
	position:absolute; 
	left:5vh;
	top:70vh; 
}
.bouton5  {
	transition-duration: 0.4s;
	background-color: lightskyblue;
	color: white;
	border-radius: 4px;
	width: 15%;
	height: 50px;
	position:absolute; 
	left:5vh;
	top:80vh; 
}
.bouton6  {
	transition-duration: 0.4s;
	background-color: lightcoral;
	color: white;
	border-radius: 4px;
	width: 15%;
	height: 50px;
	position:absolute; 
	left:5vh;
	top:90vh; 
}
.bouton1:hover, .bouton2:hover, .bouton3:hover, .bouton4:hover{
	background-color: teal;
	color: white;
}
.bouton5:hover {
	background-color: deepskyblue;
}
.bouton6:hover {
	background-color: crimson;
} 
            /****************************************************************/
            /*					HyperLiens de inscription			*/
            /****************************************************************/

a.linkR  {
	font-size: 20px;
}
/* mouse over link */
a:hover.linkR {
	color: black;
}
div.formulaireResearch{
	margin-left: 10vh;
}


/************/

div.inf{
	border-left-width:1px;
	margin-left:25%;
	/*border-left-style: solid;*/	

}






           /****************************************************************/
            /*					Affichage tableaux en general				*/
            /****************************************************************/	

#compteClient{
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 70%;
	top: 40vh;

	position:absolute; 
}


#compteClient  td, #compteClient  th {
	border: 1px solid #ddd;
	padding: 8px;
}

#compteClient td.cellBtn{
	padding: 0;
}
#compteClient tr{
	background-color: #f2f2f2;
}
#compteClient th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: teal;
	color: white;
}


           /****************************************************************/
            /*					Affichage autres boutons					*/
            /****************************************************************/	

/*bouton avec n'importe quelle icone*/
.btn {
	background-color: #f2f2f2;
	border: none;
	color: darkgrey;
	padding: 12px 16px;
	font-size: 16px;
	cursor: pointer;
}

.btn:hover {
	background-color: Teal Blue;
	color:white;
}

/* bouton avec icone moins*/
.btnMinus {
	background-color: #f2f2f2;
	border: none;
	color: red;
	padding: 12px 16px;
	font-size: 16px;
	cursor: pointer;
}

/*Bouton de barre de recherche*/
.boutonBarre {
	margin-left: 38%;
	background-color: #f2f2f2;
	border: none;
	color: darkgrey;
	padding: 12px 16px;
	font-size: 16px;
  	top: 12px;
	position:absolute;
	cursor: pointer;
}
.boutonBarre:hover {
	background-color: Teal Blue;
	color:white;

}


/*Bouton ajouter oeuvre a panier */
.btnOeuvre {
	background-color: #f2f2f2;
	border: none;
	color: darkgrey;
	padding: 10px 14px;
	font-size: 16px;
	margin-top:15px;
	cursor: pointer;
}

.btnOeuvre a{
	color:black;
}
.btnOeuvre:hover, .btnOeuvre a:hover{
	background-color: teal;
	color:white;
  
}

}

